.content_block{
    border-bottom: 4px solid;
    border-color:  #21201e;
}

#Warning{
    float:right;
    background-color: #21201e;
    width: 25%;
    text-align: center;
}
#conteiner{
    display: flex;
    flex-direction: row;
    line-height: 100px;

}

input[value="gold"]:checked+label{
font-style: italic;
color: #FFD700;
}
input[value="blue"]:checked+label{
    font-style: italic;
    color: #87CEEB;
}
input[value="green"]:checked+label{
    font-style: italic;
    color: #50C878;
}